params {
    bwa_index= null
    minimap2_index = null
    database_fasta = null
    taxonomy = null
    complexity_filter = null
    homology_filter = null
    plasmid_filter = null
    project_cluster_opts = null
    threads = 20
    threads_samtools = 8
    kmer_size = 32
    taxrank = ["species", "genus", "family"]
    platform= "illumina"
    mapper = "minimap2"
    kmer_cutoff = 0.7
    count_cutoff = 10
    fraction_cutoff = 0
    input_files = null
    samplesheet = null
}


executor {
  $sge {
      queueSize = 50
      
  }

  $local {
      cpus = 30
      memory = '300 GB'
  }
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process {
            executor='pbspro'
            clusterOptions = params.project_cluster_opts
            withLabel: big_mem {
                cpus = params.threads
                memory = 300.GB
                time='1h'
                }
                
            withLabel: low_mem {
                cpus = 1
                memory = 10.GB
                time='5h'
                }
  
            
            }
    }

}
